body{
    font-family: 'Sarabun', sans-serif;
    font-size: medium;
}
#headertext{
    font-family: 'Pacifico', cursive;
    font-size: 48px;
}
#copyright, #disclaimer{
    font-size:x-small;
}
.emphasis{
    font-style: italic;
}
dt, .emphasis2{
    font-weight: bold;
}
.dd_extra{
    font-size: small;
}
