D:\Heleen\OneDrive\Documents\NHA\Webdesign\course-homework\lesson9\images\extra\
D:\Heleen\OneDrive\Documents\NHA\Webdesign\course-homework\lesson12\images\extra\
D:\Heleen\OneDrive\Documents\NHA\Webdesign\course-homework\lesson15\images\extra\
D:\Heleen\OneDrive\Documents\NHA\Webdesign\course-homework\lesson15\*.txt
