body{
    background-color: #fafafa;
}

#link_me{
    background-color: #7014a6;
    color: #f8f0fc;
    text-decoration: none;
}
#link_me:hover{
    background-color: #9611b8;
}

#link_cv{
    background-color: #0e7537;    
    color: #e8fcf0;
    text-decoration: none;
}
#link_cv:hover{
    background-color: #12a64d;
}

#link_contact{
    background-color: #0f7b7d;
    color: #c6f7f7;
    text-decoration: none;                
}
#link_contact:hover{
    background-color: #14b7ba;
}

.loremlink{
    text-decoration: none;
}
.loremlink:focus{
    outline: none;
}